* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::-moz-selection {
  background-color: #ff404d83;
  color: white;
}

::selection {
  background-color: #ff404d83;
  color: white;
}

.container-wrapper {
  width: 65%;
  margin: 0 auto;
}

.container {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-columns: minmax(250px, 15%) auto;
      grid-template-columns: minmax(250px, 15%) auto;
      grid-template-areas: "header main" "nav    main";
  grid-column-gap: 15%;
  position: relative;
  top: 5em;
}

/* .header-wrapper {
  width: 261px;
  margin-right: 9%;
  padding: 0 2em;
} */
.header {
  text-align: center;
  position: fixed;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
}

.icon-raquel {
  margin-bottom: 1em;
  max-width: 200px;
}

nav {
  display: block;
  text-align: left;
  position: fixed;
  top: 30em;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: nav;
}

nav li {
  list-style: none;
  font-family: "Space Mono", monospace;
}

.main {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: main;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

figure {
  position: relative;
}

#sobre-mi {
  display: none;
}

#mis-trabajos, #sobre-mi {
  -webkit-animation: fade-in .2s ease-out;
          animation: fade-in .2s ease-out;
}

.gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[11];
      grid-template-columns: repeat(11, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-gap: 15px;
  margin-bottom: 200px;
}

.gallery .gallery__item--1 {
  -ms-grid-column: span 6;
      grid-column-start: span 6;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.gallery .gallery__item--2 {
  -ms-grid-column: span 5;
      grid-column-start: span 5;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.gallery .gallery__item--3 {
  -ms-grid-column: span 5;
      grid-column-start: span 5;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

.gallery .gallery__item--4 {
  -ms-grid-column: span 6;
      grid-column-start: span 6;
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
}

.gallery .gallery__item--5 {
  -ms-grid-column: span 11;
      grid-column-start: span 11;
  -webkit-box-ordinal-group: 6;
      -ms-flex-order: 5;
          order: 5;
}

.gallery .gallery__item--6 {
  -ms-grid-column: span 4;
      grid-column-start: span 4;
  -webkit-box-ordinal-group: 7;
      -ms-flex-order: 6;
          order: 6;
}

.gallery .gallery__item--9 {
  -ms-grid-column: span 7;
      grid-column-start: span 7;
  -webkit-box-ordinal-group: 8;
      -ms-flex-order: 7;
          order: 7;
}

.gallery .gallery__item--10 {
  -ms-grid-column: span 7;
      grid-column-start: span 7;
  -webkit-box-ordinal-group: 9;
      -ms-flex-order: 8;
          order: 8;
}

.gallery .gallery__item--7 {
  -ms-grid-column: span 4;
      grid-column-start: span 4;
  -webkit-box-ordinal-group: 10;
      -ms-flex-order: 9;
          order: 9;
}

.gallery .gallery__item--8 {
  -ms-grid-column: span 4;
      grid-column-start: span 4;
  -webkit-box-ordinal-group: 11;
      -ms-flex-order: 10;
          order: 10;
}

.gallery .gallery__item--11 {
  -ms-grid-column: span 6;
      grid-column-start: span 6;
  -webkit-box-ordinal-group: 14;
      -ms-flex-order: 13;
          order: 13;
}

.gallery .gallery__item--12 {
  -ms-grid-column: span 5;
      grid-column-start: span 5;
  -webkit-box-ordinal-group: 13;
      -ms-flex-order: 12;
          order: 12;
}

.gallery .gallery__item--13 {
  -ms-grid-column: span 7;
      grid-column-start: span 7;
  -webkit-box-ordinal-group: 12;
      -ms-flex-order: 11;
          order: 11;
}

.gallery .gallery__item--14 {
  -ms-grid-column: span 5;
      grid-column-start: span 5;
  -webkit-box-ordinal-group: 15;
      -ms-flex-order: 14;
          order: 14;
}

.gallery .gallery__item--15 {
  -ms-grid-column: span 11;
      grid-column-start: span 11;
  -webkit-box-ordinal-group: 16;
      -ms-flex-order: 15;
          order: 15;
}

.gallery__item-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-color: rgba(255, 64, 77, 0.9);
  width: 100%;
  height: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
  cursor: pointer;
}

.gallery__item-overlay:after {
  content: url(../img/icon-magnifying.svg);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.gallery__item-overlay:hover, .gallery__item-overlay:focus-visible {
  opacity: 1;
}

.gallery__item-overlay:focus {
  outline: none;
}

.gallery__item-caption {
  position: absolute;
  bottom: 0;
  padding: 1em;
  font-family: "Space Mono", monospace;
  color: white;
  font-size: 1em;
}

.gallery__modal {
  position: fixed;
  z-index: 10;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
  padding: 5em;
  overflow-y: scroll;
  display: none;
}

.gallery__modal.is-open {
  display: block;
}

.gallery__modal-content {
  max-width: 700px;
  margin: 0 auto;
  overflow-x: hidden;
  -webkit-animation: fade-in-slide-up 0.2s ease-out;
          animation: fade-in-slide-up 0.2s ease-out;
}

.gallery__modal-content h1 {
  margin-bottom: 1em;
}

.gallery__modal-content p {
  margin-bottom: 2em;
}

.gallery__modal-content > img:first-of-type {
  margin-bottom: 1em;
}

.gallery__modal-content > img:last-child {
  margin-bottom: 6em;
}

figure img,
.gallery__modal-content img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.icon-close {
  position: fixed;
  height: 4em;
  left: calc(100% - 6.5em);
  top: 3em;
  cursor: pointer;
  z-index: 20;
}

.icon-close:focus {
  border: 3px red solid;
}

#sobre-mi p:last-of-type {
  margin-bottom: 5em;
}

.red-bar-top,
.red-bar-bottom {
  position: fixed;
  width: 100%;
  height: 30px;
  background-color: #ff404e;
  z-index: 20;
}

.red-bar-bottom {
  bottom: 0;
}

h1,
h2,
h3 {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 1.8em;
}

h2 {
  color: #ff404e;
  font-size: 1.6em;
  margin-bottom: 1.2em;
}

h3 {
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2.2px;
  color: #ff404e;
}

a {
  color: #ff404e;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

p {
  font-family: "Space Mono", monospace;
  color: #4e4e4e;
}

strong {
  color: black;
}

.nav-button {
  color: #ff404e;
  font-size: 1em;
  font-family: "Space Mono", monospace;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background: transparent;
  -webkit-box-shadow: 0px 0px 0px transparent;
          box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
  cursor: pointer;
}

.nav-button:focus:not(:focus-visible) {
  outline: none;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fade-in-slide-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fade-in-slide-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@media screen and (max-width: 1500px) {
  .container-wrapper {
    width: calc(200px + 65%);
  }
  .container {
    -webkit-column-gap: 10%;
            column-gap: 10%;
  }
}

@media screen and (max-width: 1000px) {
  .container {
    -webkit-column-gap: 10%;
            column-gap: 10%;
  }
  .gallery {
    display: block;
  }
  .gallery figure {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 800px) {
  .container-wrapper {
    width: 100%;
  }
  .container {
    display: block;
    width: 100%;
    position: absolute;
    top: 2em;
    -webkit-transform: initial;
            transform: initial;
  }
  .header {
    position: initial;
  }
  .icon-raquel {
    width: 150px;
  }
  nav {
    margin-top: 3em;
    padding-bottom: 1.2em;
    padding-top: 1em;
    margin-bottom: 4em;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: #fff;
    -webkit-box-shadow: 0 8px 13px 0 rgba(255, 0, 0, 0.2);
            box-shadow: 0 8px 13px 0 rgba(255, 0, 0, 0.2);
  }
  ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .main {
    width: calc(130px + 65%);
    margin: 0 auto;
    position: initial;
  }
  .gallery__modal {
    padding: 2em;
  }
  .gallery__modal:after {
    content: "";
    display: block;
    width: 2em;
    height: 2em;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 10;
    position: fixed;
    left: calc(100% - 4.5em);
    top: 0.9em;
  }
  .icon-close {
    height: 2em;
    left: calc(100% - 4.5em);
    top: 0.9em;
    cursor: pointer;
  }
  .red-bar-top {
    position: initial;
    height: calc(150px / 2 + 32px);
  }
  .red-bar-bottom {
    display: none;
  }
}
/*# sourceMappingURL=styles.css.map */