* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::-moz-selection {
  background-color: #ff404d83;
  color: white;
}

::selection {
  background-color: #ff404d83;
  color: white;
}

html {
  scroll-behavior: smooth;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 15%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .header-wrapper {
  width: 261px;
  margin-right: 9%;
  padding: 0 2em;
}

.container .header {
  text-align: center;
  position: fixed;
}

.container .header img {
  margin-bottom: 2em;
  max-width: 200px;
}

.container .header nav {
  display: block;
  text-align: left;
  margin-top: 6em;
}

.container .header nav li {
  list-style: none;
  font-family: "Space Mono", monospace;
}

.container .main {
  width: 45%;
}

.container .main figure {
  position: relative;
}

.container .main .grid-gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[11];
      grid-template-columns: repeat(11, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-gap: 15px;
  margin-bottom: 200px;
}

.container .main .grid-gallery .gallery__img--1 {
  -ms-grid-column: span 6;
      grid-column-start: span 6;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.container .main .grid-gallery .gallery__img--2 {
  -ms-grid-column: span 5;
      grid-column-start: span 5;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.container .main .grid-gallery .gallery__img--3 {
  -ms-grid-column: span 5;
      grid-column-start: span 5;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

.container .main .grid-gallery .gallery__img--4 {
  -ms-grid-column: span 6;
      grid-column-start: span 6;
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
}

.container .main .grid-gallery .gallery__img--5 {
  -ms-grid-column: span 11;
      grid-column-start: span 11;
  -webkit-box-ordinal-group: 6;
      -ms-flex-order: 5;
          order: 5;
}

.container .main .grid-gallery .gallery__img--6 {
  -ms-grid-column: span 4;
      grid-column-start: span 4;
  -webkit-box-ordinal-group: 7;
      -ms-flex-order: 6;
          order: 6;
}

.container .main .grid-gallery .gallery__img--9 {
  -ms-grid-column: span 7;
      grid-column-start: span 7;
  -webkit-box-ordinal-group: 8;
      -ms-flex-order: 7;
          order: 7;
}

.container .main .grid-gallery .gallery__img--10 {
  -ms-grid-column: span 7;
      grid-column-start: span 7;
  -webkit-box-ordinal-group: 9;
      -ms-flex-order: 8;
          order: 8;
}

.container .main .grid-gallery .gallery__img--7 {
  -ms-grid-column: span 4;
      grid-column-start: span 4;
  -webkit-box-ordinal-group: 10;
      -ms-flex-order: 9;
          order: 9;
}

.container .main .grid-gallery .gallery__img--8 {
  -ms-grid-column: span 4;
      grid-column-start: span 4;
  -webkit-box-ordinal-group: 11;
      -ms-flex-order: 10;
          order: 10;
}

.container .main .grid-gallery .gallery__img--11 {
  -ms-grid-column: span 6;
      grid-column-start: span 6;
  -webkit-box-ordinal-group: 14;
      -ms-flex-order: 13;
          order: 13;
}

.container .main .grid-gallery .gallery__img--12 {
  -ms-grid-column: span 5;
      grid-column-start: span 5;
  -webkit-box-ordinal-group: 13;
      -ms-flex-order: 12;
          order: 12;
}

.container .main .grid-gallery .gallery__img--13 {
  -ms-grid-column: span 7;
      grid-column-start: span 7;
  -webkit-box-ordinal-group: 12;
      -ms-flex-order: 11;
          order: 11;
}

.container .main .grid-gallery .gallery__img--14 {
  -ms-grid-column: span 5;
      grid-column-start: span 5;
  -webkit-box-ordinal-group: 15;
      -ms-flex-order: 14;
          order: 14;
}

.container .main .grid-gallery .gallery__img--15 {
  -ms-grid-column: span 11;
      grid-column-start: span 11;
  -webkit-box-ordinal-group: 16;
      -ms-flex-order: 15;
          order: 15;
}

.container .main img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.container #project-1-modal, .container #project-2-modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: white;
  width: 100%;
  height: 100vh;
  pointer-events: none;
  opacity: 0;
  -webkit-transition: .1s;
  transition: .1s;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-track-color: #ff404e;
}

.container #project-1-modal:target, .container #project-2-modal:target {
  pointer-events: all;
  opacity: 1;
}

.container #project-1-modal .project-1-content, .container #project-1-modal .project-2-content, .container #project-2-modal .project-1-content, .container #project-2-modal .project-2-content {
  margin: 6em auto;
  max-width: 900px;
  padding: 0 2em;
}

.container #project-1-modal a.modal-close::before, .container #project-2-modal a.modal-close::before {
  content: "x";
  font-family: "Space Mono", monospace;
  font-size: 4em;
  position: fixed;
  right: 2%;
  top: 2%;
}

.red-bar-top,
.red-bar-bottom {
  position: fixed;
  width: 100%;
  height: 30px;
  background-color: #ff404e;
  z-index: 20;
}

.red-bar-bottom {
  bottom: 0;
}

h1,
h2,
h3 {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 1.8em;
}

h2 {
  color: #ff404e;
  font-size: 1.6em;
  margin-bottom: 1.2em;
}

h3 {
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2.2px;
  color: #ff404e;
}

a {
  color: #ff404e;
  -webkit-transition: .5s;
  transition: .5s;
}

a:hover {
  letter-spacing: .7px;
  -webkit-transition: .3s;
  transition: .3s;
}

p {
  font-family: "Space Mono", monospace;
  color: #4e4e4e;
}

strong {
  color: black;
}

.project-title-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-color: rgba(255, 64, 77, 0.9);
  width: 100%;
  height: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
}

.project-title-overlay:hover {
  opacity: 1;
}

.project-title-overlay-text {
  position: absolute;
  bottom: 0;
  padding: 1em;
  font-family: "Space Mono", monospace;
  color: white;
  font-size: 1.2em;
}

@media screen and (max-width: 1200px) {
  .main {
    width: 60%;
  }
}
/*# sourceMappingURL=styles.css.map */